.benefit {
  text-align: center;

  &__img {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 40px;

    @include respond-to(lg) {
      height: 50px;
    }
  }

  &__title {
    margin: 40px 0 0;

    @include respond-to(lg) {
      height: 54px;
    }
  }

  &__text {
    @extend %secondary-text;

    margin: 20px 0 0;
    color: $text-muted-color;

    @include respond-to(lg) {
      margin-top: 24px;
    }
  }
}
