.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  transition-property: transform;

  @include base-interaction;
  @include hover {
    transform: scale(1.2);
  }
  @include active {
    transform: scale(0.8);
  }
}
