.modal {
  position: fixed;
  z-index: $z-index-last;
  inset: 0;
  animation: fade-out 0.7s ease-out;

  &::backdrop {
    position: fixed;
    inset: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:open {
    animation: fade-in 0.7s ease-out;
  }

  &__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__title {
    color: $text-primary-accent-color;
  }

  &__message {
    color: $text-secondary-color;
  }
}
