.text-input {
  resize: none;

  padding: 12px clamp(1.3rem, 4vw, 2.4rem);
  border: 1px solid $border-input-default-color;

  font-family: $primary-font-family;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: $text-primary-neutral-color;

  outline: none;

  transition-property: border-color;

  &::placeholder {
    font-family: $primary-font-family;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: $text-placeholder-color;
  }

  &:focus {
    border-color: $border-input-selected-color;
    font-family: $secondary-font-family;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $input-bg-color-disabled;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border-color: $border-input-selected-color;
    box-shadow: 0 0 0 1000px $input-bg-color-autofill inset;

    -webkit-text-fill-color: $text-primary-neutral-color;
  }

  &--success {
    border-color: $border-input-success-color;

    &::placeholder {
      color: $text-placehoder-success-color;
    }
  }

  @include base-interaction;

  @include hover {
    border-color: $border-input-selected-color;
  }

  @include active {
    border-color: $border-input-selected-color;
  }
}
