.benefits {
  @extend %base-grid-column;

  row-gap: 65px;
  margin-inline: 30px;

  @include respond-to(md) {
    margin: 0;
  }

  &__benefit {
    grid-column: 1 / -1;

    @include respond-to(md) {
      grid-column: span 4;
    }

    @include respond-to(lg) {
      grid-column: span 3;
    }
  }
}
