.contact-us {
  @extend %base-grid-column;

  &__title {
    grid-column: 1 / -1;
    margin: 0;

    @include respond-to(md) {
      grid-column: 1 / span 4;
    }

    @include respond-to(lg) {
      grid-column: 1 / span 6;
    }
  }

  &__contact-form {
    grid-column: 1 / -1;
    margin-top: 30px;

    @include respond-to(md) {
      grid-column: 5 / -1;
      margin: 0;
    }

    @include respond-to(lg) {
      grid-column: 7 / -1;
    }
  }
}
