.footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;

  @include respond-to(md) {
    gap: 60px;
  }

  &__logo {
    display: none;

    @include respond-to(md) {
      display: block;
    }
  }

  &__rights {
    @extend %secondary-text;

    margin: 0;
    color: $text-subtle-color;
    text-align: center;
  }

  &__links {
    display: flex;
    gap: 40px;
    justify-content: center;
  }
}
