.main {
  &__nav {
    display: none;

    @include respond-to(lg) {
      display: flex;
      justify-content: center;
      padding-block: 28px;
    }
  }

  &__picture {
    display: block;

    width: fit-content;
    height: fit-content;
    margin-top: 110px;
    margin-inline: auto;

    @include respond-to(md) {
      margin-top: 140px;
    }

    @include respond-to(lg) {
      margin-top: 170px;
    }
  }

  &__article {
    margin-top: 110px;
    margin-inline: 30px;

    @include respond-to(md) {
      margin-top: 140px;
      margin-inline: 0;
    }

    @include respond-to(lg) {
      margin-top: 170px;
    }
  }

  &__comments {
    margin-top: 110px;
    margin-inline: 30px;

    @include respond-to(md) {
      margin-top: 140px;
      margin-inline: 0;
    }

    @include respond-to(lg) {
      margin-top: 170px;
    }
  }

  &__features {
    margin-top: 110px;

    @include respond-to(md) {
      margin-top: 140px;
    }

    @include respond-to(lg) {
      margin-top: 170px;
    }
  }

  &__contact-us {
    margin-top: 110px;
    margin-inline: 30px;

    @include respond-to(md) {
      margin-top: 140px;
      margin-inline: 0;
    }

    @include respond-to(lg) {
      margin-top: 170px;
    }
  }
}
