.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;

    margin: 0;
    padding: 0;

    list-style: none;

    @include respond-to(lg) {
      flex-direction: row;
      gap: 84px;
      justify-content: center;
    }
  }

  &__link {
    color: $text-primary-neutral-color;
  }
}
