.page {
  background-color: $page-bg-color;

  &--no-scroll {
    overflow: hidden;
  }

  &__header {
    @extend %block-max-width;

    @include respond-to(md) {
      margin-top: 30px;
    }
  }

  &__mobile-menu {
    @extend %block-max-width;

    @include respond-to(md) {
      padding-top: 39px;
    }
  }

  &__main {
    @extend %block-max-width;

    margin-top: 110px;

    @include respond-to(md) {
      margin-top: 140px;
    }

    @include respond-to(lg) {
      margin-top: 170px;
    }
  }
}
