$color-green-600: #0c797a;
$color-green-500: #0db2b3;
$color-green-400: #39bebf;
$color-green-300: #cfeff0;
$color-green-200: #eefafa;
$color-black: #131313;
$color-gray-500: #333;
$color-gray-400: #4f4f4f;
$color-gray-300: #7c7c7c;
$color-gray-200: #bdbdbd;
$color-gray-100: #d0d0d0;
$color-gray-90: #f7f7f7;
$bg-color-accent-btn: $color-green-400;
$bg-color-accent-hover-btn: $color-green-600;
$bg-color-accent-disabled-btn: $color-green-300;
$bg-color-neutral-btn: $color-gray-500;
$bg-color-neutral-hover-btn: $color-black;
$bg-color-neutral-disabled-btn: $color-gray-100;
$bg-color-accent-block: $color-green-300;
$text-inverse-color: #fff;
$text-accent-color: $color-green-500;
$text-accent-hovered-color: $color-green-600;
$text-accent-disabled-color: $color-green-300;
$text-primary-accent-color: $color-black;
$text-primary-neutral-color: $color-gray-500;
$text-secondary-color: $color-gray-400;
$text-muted-color: $color-gray-300;
$text-subtle-color: $color-gray-200;
$text-lightest-color: $color-gray-100;
$text-placeholder-color: $color-gray-200;
$text-placehoder-success-color: #eb57574d;
$border-color-default-input: $color-gray-300;
$border-color-selected-input: $color-green-500;
$border-color-success-input: #eb5757;
$bg-color-autofill-input: $color-green-300;
$bg-color-disabled-input: $color-gray-90;
$z-index-zero: -10;
$z-index-first: 10;
$z-index-last: 100;
$z-index-second: 20;
$breakpoint-md: 768px;
$breakpoint-lg: 1440px;
$primary-font-family: Inter, Helvetica, Roboto, Arial, sans-serif;
$secondary-font-family: Helvetica, Inter, Roboto, Arial, sans-serif;
$page-bg-color: $color-gray-90;
$column-grid-sm: 4;
$column-grid-md: 8;
$column-grid-lg: 12;
$transiton-short: 0.3s;
$transition-long: 0.7s;
