$color-green-600: #0c797a;
$color-green-500: #0db2b3;
$color-green-400: #39bebf;
$color-green-300: #cfeff0;
$color-green-200: #eefafa;
$color-black: #131313;
$color-gray-500: #333;
$color-gray-400: #4f4f4f;
$color-gray-300: #7c7c7c;
$color-gray-200: #bdbdbd;
$color-gray-100: #d0d0d0;
$color-gray-90: #f7f7f7;
$btn-color-accent-bg: $color-green-400;
$btn-color-accent-hover-bg: $color-green-600;
$btn-color-accent-disabled-bg: $color-green-300;
$btn-color-neutral-bg: $color-gray-500;
$btn-color-neutral-hover-bg: $color-black;
$btn-color-neutral-disabled-bg: $color-gray-100;
$text-inverse-color: #fff;
$text-accent-color: $color-green-500;
$text-accent-disabled-color: $color-green-300;
$text-primary-accent-color: $color-black;
$text-primary-neutral-color: $color-gray-500;
$text-secondary-color: $color-gray-400;
$text-muted-color: $color-gray-300;
$text-subtle-color: $color-gray-200;
$text-lightest-color: $color-gray-100;
$text-placeholder-color: $color-gray-200;
$text-placehoder-success-color: #eb57574d;
$border-input-default-color: $color-gray-300;
$border-input-selected-color: $color-green-500;
$border-input-success-color: #eb5757;
