@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto-Regular-webfont.woff') format('woff');
}

@font-face {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-weight: 100 900;
  font-style: normal;
  src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}
